---
BasedOnStyle: 'WebKit'
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AlignConsecutiveAssignments: None
AlignConsecutiveMacros: AcrossEmptyLines
AlignEscapedNewlines: Left
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseExpressionOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakAfterAttributes: Always
BreakAfterReturnType: None
BreakBeforeBraces: Allman
ColumnLimit: 160
Cpp11BracedListStyle: true
IncludeBlocks: Preserve
NamespaceIndentation: All
IndentWidth: 4
InsertNewlineAtEOF: true
Language: C
LineEnding: LF
MaxEmptyLinesToKeep: 1
PPIndentWidth: 2
PointerAlignment: Right
QualifierAlignment: Leave
SpaceAfterCStyleCast: true
SpaceAfterLogicalNot: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterFunctionDeclarationName: false
  AfterFunctionDefinitionName: false
SpaceBeforeSquareBrackets: false
SpacesInParens: Never
SpacesInSquareBrackets: false
TabWidth: 4
UseTab: Never

